*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(255,206,51);
    background: linear-gradient(90deg, rgba(255,206,51,1) 12%, rgba(255,255,255,1) 74%);
    width: 100%;
    height: 380vh;
    /* display: flex;
    /* justify-content: center; */
    /* align-items: center; */ 
}

a{
    color: inherit;
    text-decoration: none;
}



.logo img{
    height: 90px;
    aspect-ratio: 1;
    object-fit: cover;
}

.navMain{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 0 3%;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 88%;
}

.navImg{
    height: 30px;
    overflow: hidden;
    position: relative;
}

.navImg img{
    width: 100%;
    filter: brightness(30%);
    position: absolute;
    top: -600px;
}

.navbar{
    display: flex;
    align-items: center;
    /* gap: 50px; */
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.navItem{
    font-size: 2.5vh;
    padding: 5px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 3px 0;
}

.navItem:nth-child(4) {
    position: relative;
}

.select{
    display: none;
    position: absolute;
    top: 32px;
    width: 150px;
    transition: all 0.5 ease;
    background-color: rgb(223, 223, 223);
    padding: 5px;
    font-size: 17px;
}

.selectItem{
    margin: 5px;
    padding: 5px;
    transition: 0.3s;
}

.selectItem:hover{

    background-color: black;
    color: white;
    border-radius: 10px;
}

.navItem:nth-child(4):hover .select{
    display: block;
}

.selectAfter{
    display: block;
}

.hamburg{
    font-size: 2rem;
    display: none;
}

.harshitt{position:relative;
    left:0;
    bottom:0;
    font-size: .7rem;
    color: rgb(205, 167, 28);
}
.harshitt a{
    text-decoration: none;
    color: rgb(205, 167, 28);
    opacity: .45;

}




.cont{
    width: 100%;
    height: 300vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    padding: 5%;
}
.cont .text{
    width:85%;
    height: 20vh;
    background: #FF0000;
background: linear-gradient(to left, #FF0000 0%, #000000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

    
    
    font-family: Kaushan Script;

    font-size: 6rem;
    font-weight: 600;
    /* text-shadow: 3px 3px 3px rgb(8, 8, 8); */


}
.cont .card{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11vh;
}
.cont .card .card1{
    border-radius: 1rem;

    width:80%;
    height: 90%;
    background-color: #2A2E34;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 10px black;
    

}

/* .cont .card .card1:hover{
    filter: blur(8px);
} */
.harshit{
    height:100%;
    color: rgb(230, 207, 29);
    width: 100%;
    background-color:#2A2E34;
    backdrop-filter:blur(20px);
    text-align: center;
    opacity: .98;
    padding: 1rem;
    position: absolute;
    font-size: 2rem;
    left:-30vw;
    /* display: none; */
    transition: .6s;
}
.card1:hover .harshit{
    display: block;
    transition: .6s ease-in-out;
    left:0px;
}


.cont .card .card1 .ha{
    position: relative;
    height: 20%;
    width: 100%;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}
.cont .card .card1 .image{
    position: relative;
    height: 50%;
    width: 55%;
    border-radius: 50%;
    border: 3px solid  #FFCE33;
}
.cont ,.card .card1 .image img{
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}

.sideNav{
    background-color: white;
    padding: 10px;
    width: 50%;
    height: 100vh;
    margin-left: auto;
    transform: translateX(0);
    transition: all 0.5 ease;
    position: fixed;
    top: 90px;
    right: 0;
    /* position: absolute; */
    border-radius:30px;
    /* z-index: 200; */
}


.sideItem{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    border-radius: 20px;
    transition: all 0.5 ease;

}

.sideItem:hover{
    background-color: rgb(255, 206, 51);
}

.sidenavActive{
    color: rgb(255, 206, 51);
    background-color: rgb(29, 29, 29);
}

.donate{
    background-color: rgb(45, 200, 45);
    border-radius: 10px;
    color: white;
    margin-left: auto;
    margin-right: 10px;
}
@media screen and (max-width:1050px){
    body{
        height: 212vh;
    }
    .cont{
        height: 210vh;
        gap: 1rem;
    }
    .cont .text{
        height: 10vh;
    }
    .cont .card{
        height: 40vh;
        gap: 2rem;
    }.cont .card .card1 .ha{
        font-size: 2.3rem;

    }
    .cont .card .card1{
        gap: 2rem;
    }
} 
@media screen and (max-width:825px){
    body{
        height: 182vh;

    }
    .cont{
        height: 180vh;
    }
    .cont .text{
        height: 10vh;
        margin-bottom: 2rem;
    }
    .cont .card{
        height: 35vh;
        gap: 1.5rem;
    }
    .cont .card .card1{
        gap: 2.5rem;
    }
    

    .nav{
        display: none;
    }
    
    .navMain{
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
    
    .hamburg{
        display: block;
        /* margin-left: auto; */
    }
}
@media screen and (max-width:770px){
    body{
        height: 192vh;

    }
    .cont{
        height: 190vh;
    }
    .cont .text{
        height: 10vh;
        margin-bottom: 1rem;
        font-size:4.5rem ;
    } .cont .card .card1{
        gap: 3.5rem;
    }

    .nav{
        display: none;
    }
    
    .navMain{
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
    
    .hamburg{
        display: block;
        /* margin-left: auto; */

    }
}

@media screen and (max-width:450px){
    body{
        height: 582vh;
    }
    .cont{
        height: 580vh;
    }
    .cont .text{
        font-size: 3.3rem;
        height: 8vh;
    }
    .cont .card{
        flex-direction: column;
        height: 140vh;
    }
    .card .card1 .ha{
        font-size: .7rem;
    }
    .harshit{
        left:-69vw;
    }
    .cont .card .card1{
        gap: 4rem;
    }

}
@media screen and (max-width:395px){
    .cont .text{
        font-size: 2.5rem;
    }
    body{
        height: 630vh;
    }
    .cont{
        height: 610vh;
    }
    .cont .text{
        height: 5.5vh;
    }

}


/* @media screen and (max-width:1000px) {
    .cont .card{

        width: 90%;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
    .cont{
        width: 100%;
        height: 120vh;
        /* background-color: aqua; */
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }
  
    .cont .text{
        width:85%;
        height: 20vh;
        color:#2A2E34;
        font-size: 5rem;
        font-weight: 600;
        text-shadow: 3px 3px 3px rgb(8, 8, 8);
    
    
    }
    .cont .card .card1 .ha{
        position: relative;
        height: 20%;
        width: 100%;
        font-size: 1.7rem;
        color: white;
        text-align: center;
    }
    .cont .card .card1{
      
        height: 90%;
       
        padding: .6rem;
        gap: 2rem;
       
        
    
    }
    .harshit{
        left: -29vw;
        font-size: 2rem;
    }
    
}
@media screen and (max-width:950px){
    .harshit{
        left: -30vw;
    }
}
@media screen and (max-width:780px) {
    .harshit{
        left:-26.3vw;
    font-size: 2rem; }
}



@media screen and (max-width:700px){
    body{
        height: 280vh;

    }
    .cont .card {
        flex-direction: column;
        height: 120vh;
        

    }
    .cont{
        height: 260vh;
    }
    .card .card1{
        width: 40vw;
    }
    .harshit{
        left: -45vw;
        font-size: 1.8rem;
    }
    

}
@media screen and (max-width:690px){
    body{
        height: 320vh;
        
    }
    .cont{
        display:block;
        padding-left: 2rem;
    
    }
    .card{
        margin-bottom: 1rem;
    }
    .navMain{
        height: 34vh;
        position:relative;
    }
   
    
    .navImg{
        display: none;
    }
    .navbar{
        flex-direction: column;
        height: 34vh;
        width: 100%;
        gap: .4rem;
        opacity: .9;
        border-radius: .5rem;
        
    }
    .navbar .navItem a{
        font-size: 1rem;
        border-radius: 1rem;

    }
    .navbar .navItem{
        font-size: 1rem;
        border-radius: 1rem;
       
    }
}
@media screen and (max-width:630px){
    body{
        height: 300vh;
    }
    .navMain{
        height: 33vh;
    }
    .navbar{
        height: 33vh;
        gap: .5rem;
    }
    .navbar .navItem a{
        font-size: 1rem;
        border-radius: 1rem;

    }
    .navbar .navItem{
        font-size: 1rem;
        border-radius: 1rem;
       
    }
    .cont .text{
        font-size: 4rem;
    }
}
@media screen and (max-width:506px){

    body{
        height: 320vh;
    }
    .cont .text{
        font-size: 3rem;
        height: 14vh;
    }
    .cont .card .card1 .ha{
        font-size: 1.3rem;
    }
} */